<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <nav class="navbar__menu">
                <a href="" class="logo"><img src="https://neomajeed.github.io/landing-page/assets/images/logo.png" alt="logo"></a>
            </nav>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                    <input type="button" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Clinet.handleSubmit(event)">
                </form>
            </section>

            <section id="res">
                
                <strong>Form Results:</strong>
                <div id="loading"></div>
                <div id="polarity"></div>
                <div id="subjectivity"></div>
                <div id="text"></div>


                
            </section>
        </main>

        <footer>
            <div class="footer">
                <div class="social-icon">
                    <a href="https://github.com/ubdo15" target="_blank">
                        <ion-icon class="github" size="large" name="logo-github"></ion-icon>
                    </a>
                    <a href="https://twitter.com/NeoMajeed" target="_blank">
                        <ion-icon class="twitter" size="large" name="logo-twitter"></ion-icon></i>
                    </a>
                    <a href="https://linkedin.com/in/abdulmajeed-alfheimani-b640071a7/" target="_blank">
                        <ion-icon class="linkedin" size="large" name="logo-linkedin"></ion-icon></i>
                    </a>
                </div>
                <P>©Copyright 2022 Abdulmajeed</P>
            </div>
        </footer>

    </body>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>
